@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Vehiculos aplication</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <p>
            Esta aplicacion utiliza Net 5, Entity Framework Core y MVC.
        </p>
    </div>
</div>